@import url("https://fonts.googleapis.com/css?family=Roboto:900");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i,500,700");

html {
/*   font-family: "Segoe UI"!important; */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
a, a:visited, a:active, a:link {
  text-decoration: none; color: unset; font-size: unset; line-height: unset; font-weight: unset;
}
ol, ul {
  list-style-type: none;  margin: 0;  padding: 0;
}
.monser-font {
  font-family: 'Montserrat', Helvetica, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
}
.shady {
  -webkit-box-shadow: 0 0 20px 6px rgba(216, 220, 241, 0.6);
  -ms-box-shadow: 0 0 20px 6px rgba(216, 220, 241, 0.6);
  -moz-box-shadow: 0 0 20px 6px rgba(216, 220, 241, 0.6);
  -o-box-shadow: 0 0 20px 6px rgba(216, 220, 241, 0.6);
  box-shadow: 0 0 20px 6px rgba(216, 220, 241, 0.6);
}
.shado {
  -webkit-box-shadow: 0 6px 6px 0 rgba(0,0,0,.26), 0 10px 20px 0 rgba(0,0,0,.19);
  -ms-box-shadow:0 6px 6px 0 rgba(0,0,0,.26), 0 10px 20px 0 rgba(0,0,0,.19);
  -moz-box-shadow:0 6px 6px 0 rgba(0,0,0,.26), 0 10px 20px 0 rgba(0,0,0,.19);
  -o-box-shadow: 0 6px 6px 0 rgba(0,0,0,.26), 0 10px 20px 0 rgba(0,0,0,.19);
  box-shadow: 0 6px 6px 0 rgba(0,0,0,.26), 0 10px 20px 0 rgba(0,0,0,.19);
}
.masterdiv {
  max-width: 1500px;
  margin: auto;
}
/* ========  Top Subscribe Bar ======== */
.subscribe-bar {
  background-color: #fff;
  padding: 8px;
  display: flex;
  justify-content: center;
}
.join-news, .add-fav {
  color: #4a5568;
  font-size: 14px;
}
.join-news:hover, .add-fav:hover, .join-news:active, .add-fav:active {
  text-decoration: underline;
  color: #1a272d;
}
.subscr-divider {
  color: #e2e8f0;
  margin: auto 12px;
  line-height: initial;
}
/* ========  Header Image ======== */
/* ============  Header Image ============ */
.header-img-block {
  max-width: 100%;
  margin: auto;
}
.header-img-block > img {
  max-width: 100%;
  height: auto;
}
.header-l {
  display: none;
}
/* ============  Menu ============ */
.nav-bar {
  position: relative;
  padding: 8px;
  color: #234a69;
  background-color: #fff;
}
.nav-bar > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.header-logo-block {
  position: relative;
  display: block;
}
.nav-ul {
  display: flex;
  margin: auto 0;
}
.mega-menu {
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 4;
}
.mega-products {
  display: none;
  position: absolute;
  text-align: left;
  width: fit-content;
  background-color: #f7fafc;
  border: 1px solid #e2e8f0;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  z-index: 4;
}
.mega-products > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.mega-products::before {
  content: '';
  border: 12px solid transparent;
  border-bottom-color: #6da7d630;
  width: 0;
  height: 0;
  position: absolute;
  top: -24px;
  left: 30%;
}
ul > hr {
  width: 40%;
}
.last-menu-item {
  right: 15px;
}
/* #hoverable –––––––––––––– */
.hoverable {
  position: static;
}
.hoverable > a {
  font-size: 16.5px;
  color: #2a597f;
  font-weight: 600;
  padding: 12px 16px;
  display: block;
  position: relative;
}
.sub-ul-first {
  -webkit-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.sub-ul-last {
  -webkit-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.submenu {
  color: #2a597f!important;
  font-size: 15px!important;
  padding: 4px 24px;
  display: block;
}
.submenu:hover, .submenu:active, .submenu:focus {
  color: #2d3748c7!important;
  background: #eceaea!important;
}
.hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}
.hoverable:hover .mega-products, .hoverable:active .mega-products, .hoverable:focus .mega-products {
  display: block;
}
  /* #Sandwich –––––––––––––– */
.hidden-menu {
  display: none!important;
}
.menu-icon {
  max-width: 40px;
}
.menu-icon:hover, .menu-icon:active, .menu-icon:focus {
  border: 1px solid #ffffff;
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* ===============         Body         ===============  */
.header-logo {
  max-width: 180px;
  height: auto;
  margin: auto;
  padding: 0;
}
.mega-products::before {
  content: '';
  border: 12px solid transparent;
  border-bottom-color: #6da7d630;
  width: 0;
  height: 0;
  position: absolute;
  top: -24px;
  left: 30%;
}
/*  =========  ***** GALLERY *****  =========  */
#rl_pf {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 20px 20px;
  -webkit-box-shadow: inset 0 0 20px 6px rgba(46, 91, 138, 0.26);
  -ms-box-shadow: inset 0 0 20px 6px rgba(46, 91, 138, 0.26);
  -moz-box-shadow: inset 0 0 20px 6px rgba(46, 91, 138, 0.26);
  -o-box-shadow: inset 0 0 20px 6px rgba(46, 91, 138, 0.26);
  box-shadow: inset 0 0 20px 6px rgba(46, 91, 138, 0.26);
}
.show {
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto;
	width: 220px;
	margin: 0.4vw;
}
.show img {
	width: 100%;
	height: auto;
}
.item {
	overflow: hidden;
	position: relative;
	text-align: center;
  -webkit-box-shadow: inset 0 6px 6px 0 rgba(0,0,0,.26), 0 4px 20px 1px rgba(0,0,0,.25);
  -ms-box-shadow: inset 0 6px 6px 0 rgba(0,0,0,.26), 0 4px 20px 1px rgba(0,0,0,.25);
  -moz-box-shadow: inset 0 6px 6px 0 rgba(0,0,0,.26), 0 4px 20px 1px rgba(0,0,0,.25);
  -o-box-shadow: inset 0 6px 6px 0 rgba(0,0,0,.26), 0 4px 20px 1px rgba(0,0,0,.25);
  box-shadow: inset 0 6px 6px 0 rgba(0,0,0,.26), 0 4px 20px 1px rgba(0,0,0,.25);
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  max-width: 350px;
}
.item .pf_content {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.item img {
	display: block;
	position: relative;
}
.item h2 {
  font-family: 'Montserrat', Helvetica, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	color: white;
	font-size: 0.8em;
  text-indent: 3px;
  letter-spacing: 6px;
  text-align: center;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  margin: 6% auto 25px auto;
}
.item h3 {
  font-family: 'Montserrat', Helvetica, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	color: #fff;
	font-size: 9.5px;
	text-indent: 1px;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 500;
	position: relative;
	text-transform: uppercase;
  margin: 0 7px;
}
.item .pf_viewmore {
  font-family: 'Montserrat', Helvetica, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	color: #fff;
	width: 100%;
	font-size: 0.7em;
	text-indent: 3px;
	letter-spacing: 6px;
	font-weight: 200;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	background-color: rgba(0,0,0,0.2);
}
.open-item img {
  -webkit-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
	transition: all 1.5s ease;
}
.open-item .pf_content {
	opacity: 0;
	background-color: rgba(0,40,100,0.84);
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.open-item h2 {
	transform: translateY(-100px);
	opacity: 0;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.open-item h3 {
	transform: translateY(100px);
	opacity: 0;
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
	transition: all 1s ease;
}
.open-item .pf_viewmore {
	transform: translateY(30px);
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	opacity: 0;
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
	transition: all 1s ease;
	position: absolute;
	bottom: 0;
	left: 0;
}
.open-item:hover img {
	transform: scale(1.5);
}
.open-item:hover .pf_content {
	opacity: 1;
}
.open-item:hover h2,
.open-item:hover h3,
.open-item:hover .pf_viewmore {
	opacity: 1;
	transform: translateY(0px);
}
.full-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
}
.gallery-item-title {
  font-size: 16px;
  font-weight: 500;
  color: #2a597f;
  background: #ffffff;
}
/* ABOUT US */
.about {
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 20px;
}
.about-box {
  padding: 20px 0;
  top: 0;
  margin: auto;
  max-width: 650px;
  background: #ffffffd9;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.about-title {
  color: #002864d6;
  font-size: 26px;
  font-weight: 500;
  padding: 0 0 0 20px;
  text-align: center;
}
.about-text {
  font-size: 17px;
  color: #626d79;
  line-height: 21px;
  font-weight: 500;
  padding: 20px;
}
/* FEATURED */
.related-title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 10px 30px;
  background: #ffffff;
  text-align: center;
}
.product-item {
  padding: 20px 0;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-evenly;
}
.product-item li {
  width: 240px;
	float: left;
	text-align: center;
	-webkit-border-radius: 6px;
  -ms-border-radius: 6px;
	-moz-border-radius: 6px;
  -o-border-radius: 6px;
	border-radius: 6px;
	background: white;
	margin: 10px;
  -webkit-box-shadow: 0 7px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  -ms-box-shadow: 0 7px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 7px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  -o-box-shadow: 0 7px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 7px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
}
.product-item li:hover {
	-webkit-box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  -ms-box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  -o-box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.product-thumb {
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
	-webkit-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
  }
.product-thumb img {
	-webkit-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	-webkit-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	}
.shop-button {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
  -o-transform: translateY(-50px);
	transform: translateY(-50px);
}
.product-thumb:hover {
	cursor:pointer;
}
.product-item li:hover .shop-button {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-moz-transform: translateY(0px);
  -o-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.product-item li:hover .product-thumb img {
	opacity: 0.6;
  filter: blur(0.3px);
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.shop-button div {
	display: inline-block;
	color: #fff;
	line-height: 25px;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 400;
  background: #0b2e63;
}
.product-item li h4 {
	font-size: 15px;
	color: #04536b;
	font-weight: 500;
	margin: 14px 0 4px;
	padding: 0 8px 10px 8px;
	position: relative;
}
/* FEATURES */
.features {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  padding: 14px;
  background: #ffffff;
  justify-content: center;
}
.features > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 20px;
}
.feature-icon {
  max-width: 85px;
  height: auto;
}
.feat-info {
  text-align: center;
}
.feat-info > h2 {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin: 0 0 2px 0;
}
.feat-info > div {
  font-size: 16px;
  color: #414f63;
  max-width: 300px;
}
/* FOOTER */
.footer {
  max-width: 100%;
  background: url(https://i.picsum.photos/id/1019/1570/438.jpg) no-repeat bottom center;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
}
.footer > div * {
  max-width: 260px;
  color: #696969;
}
.footer-logo-block {
  padding: 12px;
  display: flex;
  justify-content: center;
}
.footer-logo {
  height: auto;
  margin: auto;
  padding: 10px;
}
.footer-info {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-list {
  align-self: center;
}
.footer-list li{
  text-align: center;
}
.footer-nav-li {
  display: block;
  padding: 2px 14px;
}
.footer-nav-li:hover, .footer-nav-li:active, .footer-nav-li:focus {
  background-color: #d7e0e8a8;
    border-radius: 3px;
    color: black;
    transition: 0.2s ease-in-out;
}
.footer-info-right {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.footer-news {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
}
.footer-news-text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 12px 0;
}
.subscribe-button {
  background-color: #3781bf;
  padding: 8px 16px;
  letter-spacing: 0.5px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 0 8px 0px #153654;
  -ms-box-shadow: 0 0 8px 0px #153654;
  -moz-box-shadow: 0 0 8px 0px #153654;
  -o-box-shadow: 0 0 8px 0px #153654;
  box-shadow: 0 0 8px 0px #153654;
}
.subscribe-button:hover, .subscribe-button:active, .subscribe-button:focus {
  background-color: #2b6cb0;
  -webkit-box-shadow: 0 0 3px 0px #153654;
  -ms-box-shadow: 0 0 3px 0px #153654;
  -moz-box-shadow: 0 0 3px 0px #153654;
  -o-box-shadow: 0 0 3px 0px #153654;
  box-shadow: 0 0 3px 0px #153654;
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.sub-but-a {
  font-size: 16px;
  color: white!important;
}
.copyright {
  width: 100%;
  height: auto;
  color: #696969;
  font-size: 14px;
  line-height: 25px;
  padding: 12px 0;
  position: relative;
  text-align: center;
  letter-spacing: 0.4px;
  margin-top: 24px;
}
  /* ================== RESPONSIVE ================== */
/* == MENU ITEMS ==  */
@media screen and (max-width: 1301px) {
.sailing {
  display: none;
}
}
@media screen and (max-width: 1281px) {
.fishing {
  display: none;
}
}
@media screen and (max-width: 1050px) {
.seating {
  display: none;
}
}
@media screen and (max-width: 1025px) {
.covers {
  display: none;
}
}
@media screen and (max-width: 800px) {
.outboards {
  display: none;
}
}
@media screen and (max-width: 550px) {
.bimini, .ttops {
  display: none;
}
.hidden-menu {
  display: block!important;
}
.visible-menu {
  display: none!important;
}
.hoverable > a:after {
  display: none;
}
.mega-products::before {
  left: 50%;
}
}
/* == GALLERY ==  */
@media screen and (max-width: 400px) {
#rl_pf {
  margin: 10px;
  padding: 0;
}
.open-item .pf_content {
  background: white;
  opacity: 1;
}
.open-item h2,
.open-item h3,
.open-item .pf_viewmore {
  opacity: 1;
  color: black;
  transform: translateY(0px);
}
.pf_viewmore {
  display: none!important;
}
.item .pf_content {
  height: fit-content;
  top: unset;
  bottom: 0;
}
.pf_content h2 {
  letter-spacing: 4px;
  margin: 8px;
}
.pf_content h3 {
  display: none;
}
}
@media screen and (min-width: 401px) and (max-width: 800px) {
.open-item .pf_content {
  background: white;
  opacity: 1;
}
.open-item h2,
.open-item h3,
.open-item .pf_viewmore {
  opacity: 1;
  color: black;
  transform: translateY(0px);
}
.pf_viewmore {
  display: none!important;
}
.item .pf_content {
  height: fit-content;
  top: unset;
  bottom: 0;
}
.pf_content h2 {
  letter-spacing: 4px;
  margin: 8px;
}
.pf_content h3 {
  display: none;
}
}
@media screen and (max-width: 1383px) {
.product-item li {
  margin: 20px 50px;
}
}
@media screen and (min-width: 640px) {
.container {
  max-width: 640px;
}
.nav-bar > div {
  justify-content: space-between;
}
.footer-list {
  margin-right: 20px;
}
.footer-info-right {
  margin-left: 20px;
}
}
@media screen and (min-width: 700px) {
.header-l {
  display: block;
}
.header-m {
  display: none;;
}
.related-title {
  padding: 30px;
}
}
@media screen and (min-width: 760px) {
.container {
  max-width: 768px;
}
.subscribe-bar {
  justify-content: flex-end;
}
.features {
  flex-direction: row;
}
.footer-list {
  padding: 20px;
}
.copyright {
  margin-top: 64px;
}
}
@media screen and (min-width: 900px) {
.about {
  background: url(https://picsum.photos/1500/638) no-repeat top center;
  margin: 10px auto;
}
}
@media screen and (min-width: 1024px) {
.container {
  max-width: 1024px;
}
}
@media screen and (min-width: 1100px) {
.container {
  max-width: 1280px;
}
.features > div {
  margin: 30px 50px;
}
}
@media screen and (min-width: 1200px) {
.about-box {
  margin: 30px;
}
}
@media screen and (max-width: 565px) {
.about-box {
  padding: 10px 0;
  margin: 15px;
}
.about-image {
  display: none;
}
.about-title {
  font-size: 18px;
}
.about-text {
  font-size: 14px;
  text-align: center;
}
}

/*ebay corrections*/
.stBadge {
    min-width: auto!important;
}
.stBadge img {
  display:none;
}
